* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: rgb(235, 234, 234);
}

@media (min-width: 10px) and (max-width: 600px) {
  body {
    display: block;
  }

  header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 234, 234);
    width: 100%;
    padding: 3%;
    align-content: center;
  }
  .header__contact {
    margin: 3%;
    padding: 3%;
    padding-right: 7%;
  }
  .header__contact a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: black;
  }

  header img {
    width: 100%;
  }

  .ham-menu {
    color: black;
    text-align: center;
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    align-items: flex-end;
  }
  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(11, 1, 1);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 2s ease;
  }
  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  .ham-menu span:nth-child(3) {
    top: 75%;
  }
  .off-screen-menu {
    background-color: rgb(235, 234, 234);
    border: solid black 3px;
    width: 100%;
    max-width: 450px;
    height: 100vh;
    position: fixed;
    right: -450px;
    text-align: center;
    font-size: 3em;
    transition: 2s ease;
  }
  nav {
    display: flex;
    padding: 1rem;
  }
  .ham-menu.active span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
  }
  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .off-screen-menu ul {
    list-style: none;
  }
  .off-screen-menu.active ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
  }

  .off-screen-menu li a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    border-radius: 25px;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }

  .off-screen-menu.active {
    border: solid black 3px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    top: 16rem;
    left: 3rem;
    transition: 2s;
    z-index: 4;
  }
  .hero {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-image: url(Images/yellowlines.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .hero > * {
    position: relative;
    z-index: 1;
  }
  .hero:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
  .hero h1 {
    font-size: 6rem;
    font-weight: 420;
    color: white;
    z-index: 3;
  }
  .scroll__to__contact__section {
    background-color: red;
    border-radius: 25px;
    width: 10rem;
    position: sticky;
    z-index: 3;
    left: 50rem;
    transition: 1s;
  }
  .scroll__to__contact__section:hover {
    background-color: white;
    border-radius: 25px;
    width: 10rem;
    position: sticky;
    z-index: 3;
    left: 50rem;
    transition: 1s;
    cursor: pointer;
  }
}

.off-screen-menu ul {
  padding: 0;
}

/*------------------------------------------------------------ 600 px to 1200 px--------------------------------------------*/
